.card{
    width: 18rem;

     margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
   
}

img{
    max-height: 100px; 
    max-width: 100px;
    border-radius: 90%;
}



